/*****************/
/* VARIABLES */
/*****************/

:root {
    /* COLORS */
    --primary: #ffcb6e;
    --primary-hover: #ffe5b8;
    --muted-primary: #beac73;
    --secondary: #223557;
    --background: #1f1f1f;
    --light: #E3DFFF;
    --muted: #3d3936;
    --dark: #141414;

    --purchase: #7fad28;
    --purchase-dark: #567026;
    --purchase-highlight: #cfee5e;
    --disabled: #707a5c;
    --disabled-dark: #31332d;
}

/*****************/
/* COLOR CLASSES */
/*****************/

/* FOREGROUND */
.col-primary {
    color: var(--primary);
}

.col-secondary {
    color: var(--secondary);
}

.col-background {
    color: var(--background);
}

.col-light {
    color: var(--light);
}

.col-muted {
    color: var(--muted);
}

.col-dark {
    color: var(--dark);
}

.col-white {
    color: white;
}

.col-black {
    color: black;
}

/* BACKGROUND */
.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-background {
    background-color: var(--background);
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-muted {
    background-color: var(--muted);
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

/* BORDER */
.border-primary {
    border-color: var(--primary);
}

.border-secondary {
    border-color: var(--secondary);
}

.border-accent {
    border-color: var(--accent);
}

.border-background {
    border-color: var(--background);
}

.border-light {
    border-color: var(--light);
}

.border-dark {
    border-color: var(--dark);
}

.border-muted {
    border-color: var(--muted);
}

.border-white {
    border-color: white;
}

.border-black {
    border-color: black;
}

.header-container {
    display: flex;
    justify-content: center;
    margin: 3em 0 1em 0;
}

.underline {
    text-align: center;
    margin-bottom: 0.1em;
    border-bottom: 2px solid var(--primary);
}

.overline {
    text-align: center;
    margin-top: 0.1em;
    border-top: 2px solid var(--primary);
}

.font-title {
    font-family: 'Cormorant SC', serif;
}

.font-header {
    font-family: 'Rokkitt', serif;
}

.font-body {
    font-family: 'Cantarell', sans-serif;
}

/*****************/
/* MAIN ELEMENTS */
/*****************/

* {
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    color: var(--light);
    font-family: 'Cantarell', sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.bottom {
    top: auto;
    bottom: 0;
}

.grid-container {
    display: grid;
}

.main-container {
    margin-top: 0%;
    margin-left: 10%;
    margin-bottom: 0%;
    margin-right: 10%;
    padding: 0%;
}

.content-area {
    padding: 2%;
    background-color: var(--secondary);
    text-align: center;
}

.center-container {
    margin: 0 5% 10% 5%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    background-color: var(--muted-primary);
    border: solid 0.2em var(--primary);
    border-radius: 5px;
    margin: 2em 0;
}

.contact-section > h2, .contact-section h3, .contact-section h4, .contact-section p {
    margin: 0;
}

.contact-section h3, .contact-section h4 {
    margin-top: 1em;
}

.contact-section > h2 {
    width: 100%;
    background-color: var(--primary);
    border-bottom: solid 1px var(--background);
}

.contact-section .frame {
    border: solid 1px var(--background);
    border-radius: 5px;
    background-color: var(--primary);
    width: 90%;
    padding: 0.5em;
    margin: 1em auto;
}

.contact-section .frame.adress {
    width: auto;
}

.contact-section *:first-child {
    margin-bottom: 0.5em;
}

.contact-section *:last-child {
    margin-bottom: 2em;
}

/* TEXT */
h1 {
    font-size: 2rem;
    font-family: 'Cormorant SC', serif;
}

h2 {
    font-size: 1.8rem;
    font-family: 'Rokkitt', serif;
}

h3 {
    font-size: 1.6rem;
    font-family: 'Rokkitt', serif;
}

h4 {
    font-size: 1.4rem;
    font-family: 'Rokkitt', serif;
}

h5 {
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
}

h6 {
    font-size: 1rem;
    font-family: 'Rokkitt', serif;
    margin: 0;
}

p {
    font-size: 1rem;
}

.text-small {
    font-size: 0.9rem;
}

.text-medium {
    font-size: 1rem;
}

.text-large {
    font-size: 1.4rem;
}

.text-bold {
    font-weight: bold;
}

.welcome-message {
    font-size: 1.5em;
    margin-bottom: -2%;
}

/* Links */
a {
    color: var(--dark);
}

a:hover {
    color: var(--muted);
}

/*****************/
/*     LOGO      */
/*****************/

.logotype {
    position: relative;
    background-color: var(--secondary);
    padding: 1%;
}

.logotype a {
    display: block;
    cursor: pointer;
}

.logotype .logo-frame {
    position: relative;
    display: block;
    width: 75%;
    margin: auto;
    overflow: hidden;
}

.logotype .logo-frame a span {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.logotype .logo-frame .logo-line {
    background-color: var(--primary);
    height: 2px;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 17vh;
}

.logotype .logo-frame .logo-text {
    display: flex;
    font-family: 'Cormorant SC', serif;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: -1% 0% 0% 0%;
    line-height: 0.7;
    user-select: none;
}

.logotype .logo-frame .logo-text div {
    margin: 1%;
}

/*****************/
/*    NAVBAR     */
/*****************/

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--background);
    height: 35px;
    padding: 0 1em;
    width: 100%;
    border-style: solid none;
    border-color: var(--background);
    border-width: 1px;
}

.menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--background);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

.menu {
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    transition: visibility 0ms linear 120ms;
}

.menu > li {
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    padding: 0em 0em;
    height: 0;
    width: 100%;
}

#menu-toggle:checked ~ .menu {
    visibility: visible;
    top: 35px;
}

#menu-toggle:checked ~ .menu li {
    height: 2em;
}

.menu-button-container:hover .menu-button::before {
    background-color: var(--muted-primary);
}

.menu-button-container:hover .menu-button {
    background-color: var(--muted-primary);
}

.menu-button-container:hover .menu-button::after {
    background-color: var(--muted-primary);
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.home-btn {
    display: flex;
    outline: 0;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    margin: 0 1em 0 0;
    padding: 0;
    height: 100%;
    width: auto;
    background-color: var(--primary);
    border-color: var(--primary);
}

.home-btn:focus {
    border-color: var(--muted-primary);
}
.home-btn .home-icon {
    display: flex;
    width: 100%;
    height: 100%;
    filter: brightness(0) opacity(0.8);
}

.home-btn:hover .home-icon {
    filter: brightness(1) opacity(0.8);
}

.nav-btn {
    margin: auto;
    font-size: 1em;
    border-style: solid;
    width: 100%;
    color: var(--dark);
    background-color: var(--primary);
    border-color: var(--primary);
    font-size: 1.1rem;
    font-family: 'Rokkitt', serif;
    text-align: center;
}

.nav-btn:hover {
    cursor: pointer;
    color: var(--dark);
    background-color: var(--muted-primary);
    border-color: var(--muted-primary);
}

.nav-btn:focus {
    color: var(--dark);
    border-color: var(--muted-primary);
    outline: 0;
    outline-style: solid;
    outline-color: var(--muted-primary);
}

.menu .nav-btn {
    width: 100%;
    height: 100%;
    border-width: 2px;
    background-color: var(--muted-primary);
}

.menu .nav-btn:hover {
    border-width: 2px;
    background-color: var(--primary);
    border-color: var(--primary);
}


/*****************/
/* CARDS */
/*****************/

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-auto-columns: minmax(0, 1fr);
}

.card-section > * {
    margin: auto;
}

.card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: var(--background);
    background-color: var(--primary);
    border-radius: 5px;
    margin: 1em;
    padding: 0em 2em 1em;
}

.card > img {
    margin: 0% auto;
    width: 100%;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--muted-primary);
}

.card > h1 {
    font-family: 'Rokkitt', serif;
    font-size: 1.6em;
    margin-top: 0;
    border-bottom: 2px solid var(--muted-primary);
}

.card > h2 {
    margin-bottom: 0%;
    font-size: 1.4em;
}

.card .card-length {
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

.card-btn {
    cursor: pointer;
    outline: 0;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: var(--purchase-dark);
    background-color: var(--purchase);
    width: 100px;
    margin-top: auto;
    align-self: flex-end;
    justify-self: flex-end;
}

.card-btn:focus {
    border-color: var(--disabled-dark);
}

.card-btn:active {
    background-color: var(--purchase-highlight);
}

.card-btn:disabled {
    cursor: default;
    border-color: var(--disabled);
    background-color: var(--disabled-dark);
    color: var(--light);
}

.card .card-signature {
    align-self: flex-end;
    text-align: right;
    font-weight: bold;
    font-size: 1em;
    padding-right: 0.2em;
    margin-bottom: 0%;
    margin-top: 0%;
}

.link-card {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/*****************/
/* CART */
/*****************/

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding: 0.1em;
    border-radius: 5px;
    background-color: var(--background);
    min-height: 3em;
}

.cart-list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.cart-item {
    margin: 1em;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    color: var(--background);
    background-color: var(--primary);
    display: grid;
    gap: 0.5em;
    white-space: nowrap;

    grid-template-columns: auto 30%;
    grid-template-rows: auto auto;
}

.cart-item > * {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item > :not(.cart-btn) {
    border: solid 1px black;
    border-radius: 5px;
}

.cart-item p {
    text-align: end;
    padding-right: 0.5em;
}

.cart-item p:first-of-type {
    grid-column: 1 / span 2;
    text-align: start;
    padding-left: 0.5em;
}

.cart-item .cart-btn {
    cursor: pointer;
    padding: 2%;
    margin: auto 0 auto auto;
    border-radius: 5px;
    border-style: solid;
    border-color: darkred;
    background-color: red;
}

.checkout {
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: bold;
    width: 100%;
}

.checkout .cart-accept {
    margin: 0 auto 0 0;
    width: 8em;
    height: 2em;
    grid-column: 1;
}

.checkout p:last-of-type {
    margin: 0 0 0 auto;
}

/*****************/
/* FOOTER */
/*****************/

.footer-header {
    position: sticky;
    bottom: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    list-style-type: none;
    width: 100%;
    color: var(--muted);
    background-color: var(--primary);
    padding: 0%;
    border-style: solid none;
    border-color: var(--background);
    border-width: 1px;
}

.footer-header .filler {
    display: none;
}

.footer-header p {
    /* font-family: 'Cormorant SC', serif; */
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    font-size: small;
    width: 100%;
    margin: auto;
    padding: 0%;
    text-align: center;
}

.footer-header > ul {
    text-align: right;
    justify-self: flex-end;
    margin: 0;
}

.footer-header > ul > li {
    display: inline-block;
}

.footer {
    display: flex;
    flex-direction: column;
    color: var(--muted);
    background-color: var(--muted-primary);
}

.footer img {
    width: 4em;
    margin: 1em;
    align-self: center;
    filter: opacity(50%);
}

.footer a:hover {
    color: var(--primary);
}

.footer .footer-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 0% auto;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
}

.footer .footer-body .footer-section > *{
    flex-direction: column;
}

.footer .footer-body h5 {
    margin: 0.5em;
    padding: 0%;
}

.footer .footer-body p {
    margin: 0%;
    padding: 0%;
}

.footer .footer-footer {
    align-self: center;
    text-align: center;
}



/*****************/
/*     MODAL     */
/*****************/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--secondary);
    margin: auto;
    padding: 0%;
    border: 1px solid var(--background);
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal textarea {
    resize: none;
}

.modal-header,
.modal-footer {
    color: var(--background);
    padding: 2px 16px;
    background-color: var(--primary);
}

.modal-header {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.modal-header h2 {
    margin: 1%;
}

/* The Close Button */
.close {
    color: var(--background);
    align-self: flex-end;
    margin: auto 0% auto auto;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--muted-primary);
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    color: var(--light);
    padding: 2px 16px;
}

.modal-body > *{
    margin: 1% 15%;
    padding: 0%;
}

.modal-body .modal-input-container {
    display: flex;
    flex-direction: column;
}

.modal-body .modal-input-container input.checkbox {
    align-self: flex-start;
}

.modal-footer > .card-btn {
    display: flex;
    margin: auto;
    padding: 1%;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

 /*
Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
 */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    /*     LOGO      */
    .logotype .logo-frame .logo-text {
        font-size: 2rem;
        flex-direction: row;
        line-height: 1;
    }

    .logotype .logo-frame .logo-line {
        width: 35vh;
    }

    .footer-header > p {
        font-size: medium;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    /*     LOGO      */
    .logotype .logo-frame .logo-text {
        font-size: 2.8rem;
        flex-direction: row;
    }

    .logotype .logo-frame .logo-line {
        width: 48vh;
    }

    /*     NAVBAR      */
    .menu-button-container {
        display: none;
    }

    .navbar {
        padding-right: 0;
    }

    .menu {
        position: relative;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        visibility: visible;
        flex-direction: row;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    #menu-toggle:checked ~ .menu {
        top: 0;
    }

    .menu > li {
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        padding: 0em 0em;
        height: 100%;
        width: 100%;
    }

    .menu .nav-btn {
        width: 100%;
        height: 100%;
        border-width: 2px;
        background-color: var(--primary);
    }
    
    .menu .nav-btn:hover {
        border-width: 2px;
        background-color: var(--muted-primary);
        border-color: var(--muted-primary);
    }

    .card > img {
        width: 80%;
    }

    /* Cart */

    .cart-item {
        grid-template-columns: auto 30% 10%;
        grid-template-rows: auto;
    }

    .cart-item p:first-of-type {
        grid-column: 1 / span 1;
    }

    .checkout {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .checkout .cart-accept {
        margin: 0 auto;
        grid-column: 2;
    }

    /*     FOOTER      */
    .footer-header {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-header .filler {
        display: block;
    }

    .footer .footer-body {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .contact-section .frame {
        width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .card-section > * {
        max-width: calc(100% / 3 - 10px);
        margin: auto;
    }

    .card {
        margin: 1em 0.2em;
        padding: 0.5em;
    }

    .card > h1 {
        font-size: 1.4em;
    }

    .card > h2 {
        font-size: 1.2em;
    }
}